body {
  /* color: #264f96; */
  background-color: #bad4ff;
}

.header {
  margin: 20px 10px 10px 10px;
}

.nav {
  display: inline-flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
}

.form-item {
  margin-top: 2px;
}
